    /*超链接颜色*/
body {
  color: rgb(0, 173, 181);
  background-color: rgba(0, 0, 0, 0);
  font-family: '霞鹜臻楷';
  text-align: center;
  .blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
  }
}

.img {
  background-image: url(../Other/51.jxl);
  background-attachment: fixed;                 /*图片不随页面滚动*/
  background-size: cover;                       /*图片填满屏幕*/
  background-position: center;                  /*图片居中*/
  backdrop-filter: blur(10px);                   /*图片模糊*/
}



@font-face {
  font-family: '霞鹜臻楷';
  src: url('../LXGWZhenKai.woff2');
}